<p>circuit_key: {{ race?.circuit_key }}</p>
<p>circuit_short_name: {{ race?.circuit_short_name }}</p>
<p>country_code: {{ race?.country_code }}</p>
<p>country_key: {{ race?.country_key }}</p>
<p>country_name: {{ race?.country_name }}</p>
<p>date_start: {{ race?.date_start }}</p>
<p>gmt_offset: {{ race?.gmt_offset }}</p>
<p>location: {{ race?.location }}</p>
<p>meeting_key: {{ race?.meeting_key }}</p>
<p>meeting_name: {{ race?.meeting_name }}</p>
<p>meeting_official_name: {{ race?.meeting_official_name }}</p>
<p>year: {{ race?.year }}</p>